<div class="layout">
  <d-layout class="layout-wrapper">
    <d-aside class="btn-menu" style="display: none;">
      <div>
        <d-button icon="icon-forum" bsStyle="common"> 主页 </d-button>
      </div>
      <div>
        <d-button icon="icon-calendar-end" bsStyle="common"> 日历 </d-button>
      </div>
      <div>
        <d-button icon="icon-delete" bsStyle="common"> 回收站 </d-button>
      </div>
    </d-aside>
    <d-aside class="art-list">
      <div class="list-header">
        <h2>便签
          <d-icon icon="icon-helping" dTooltip [content]="'数据无服务端,仅存放到本地存储.'" [position]="'right'"></d-icon>
        </h2>
        <d-button bsStyle="common" icon="icon-modify" (click)="addArticle()">新建</d-button>
      </div>

      <div class="datepicker" style="display: none;">
        <d-datepicker-calendar [isRangeType]="false" [showTime]="false" [maxDate]="maxDate" [minDate]="minDate">
        </d-datepicker-calendar>
      </div>

      <div *ngIf="items.length === 0" class="add-tip">
        点击新建，记录点滴
      </div>
      <div class="list-item">
        <ng-container *ngFor="let item of items;  let i = index">
          <d-card (click)="selectArticle(i)" [class]="i === editItemIndex ? 'active' : ''">
            <d-card-header>
              <!-- <d-avatar dCardAvatar [name]="'DevUI'"></d-avatar> -->
              <d-card-subtitle> <b>{{ item.title }}</b> </d-card-subtitle>
            </d-card-header>
            <d-card-actions [align]="'start'">
              <div class="action-text">{{ item.time }}</div>
            </d-card-actions>
          </d-card>
        </ng-container>
      </div>
    </d-aside>
    <d-layout class="layout-content">
      <div *ngIf="editItemIndex === -1" class="content-tip">
        <div>
          <div><img src="assets/tip.png" /></div>
          <span>随时随地记录生活，高效管理工作</span>
        </div>
      </div>
      <d-content>
        <div style="width: 800px; margin: 0 auto;font-weight: 300;">
          <div id="vditor"></div>
        </div>
      </d-content>
      <d-footer>
        <d-tags-input (click)="$event.stopPropagation()" [(ngModel)]="tagList" [caseSensitivity]="false"
          (valueChange)="getTagValue($event)" [maxTags]="4" [maxLength]="6" [checkBeforeAdd]="customCheck"
          placeholder="请输入标签">
        </d-tags-input>
      </d-footer>
    </d-layout>
  </d-layout>
</div>
